<!DOCTYPE html>
        <html xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              layout:decorator="layouts/main">

        <head>

            <title>Home</title>

            <link rel="stylesheet" href="css/jumbotron-narrow.css"
                  th:href="@{/css/jumbotron-narrow.css}" />



            <!-- Make sure to close the angle bracket  -->
        </head>


<body>

<div layout:fragment="content">

    <div class="row marketing">
        <div class="col-lg-6">
            <form th:object="${question}" th:action="@{/question}" action="#" method="post">
                <div class="form-group" >
                    <label for="userQuestion">Name</label>
                    <input type="text" class="form-control" id="userQuestion" th:field="*{questionDetails}" placeholder="Write Question"/>
                </div>
                <div class="form-group">
                    <label for="userName">Name</label>
                    <input type="text" class="form-control" id="userName" th:field="*{questionUserName}" placeholder="Your Name."/>
                </div>
                <div class="form-group">
                    <label for="adminName">Admin Name</label>
                    <input type="text" class="form-control" id="adminName" th:field="*{admin.adminName}" placeholder="Admin Name."/>
                </div>
                <button type="submit" class="btn btn-primary">Send Question</button>
            </form>

        </div>


    </div>


</div>
</body>
</html>