<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>

    <title>Home</title>

    <link rel="stylesheet" href="css/main.css"
          th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="css/jumbotron-narrow.css"
          th:href="@{/css/jumbotron-narrow.css}" />



    <!-- Make sure to close the angle bracket  -->
</head>


<body>

<div layout:fragment="content">

    <div class="row">

        <div class="col-md-12">

            <table class="table table-hover table-bordered">

                <thead>
                <tr>
                    <th colspan="7">Registered Courses</th>
                </tr>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Faculty</th>
                    <th>Room</th>
                    <th>Time</th>
                    <th>Credit</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CSE232</td>
                    <td>Computer Programming</td>
                    <td>Pankaj Sharma</td>
                    <td>618</td>
                    <td>5PM - 8PM</td>
                    <td>3</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>CSE232</td>
                    <td>Computer Programming</td>
                    <td>Pankaj Sharma</td>
                    <td>618</td>
                    <td>5PM - 8PM</td>
                    <td>3</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>CSE232</td>
                    <td>Computer Programming</td>
                    <td>Pankaj Sharma</td>
                    <td>618</td>
                    <td>5PM - 8PM</td>
                    <td>3</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>CSE232</td>
                    <td>Computer Programming</td>
                    <td>Pankaj Sharma</td>
                    <td>618</td>
                    <td>5PM - 8PM</td>
                    <td>3</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>CSE232</td>
                    <td>Computer Programming</td>
                    <td>Pankaj Sharma</td>
                    <td>618</td>
                    <td>5PM - 8PM</td>
                    <td>3</td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td>CSE232</td>
                    <td>Computer Programming</td>
                    <td>Pankaj Sharma</td>
                    <td>618</td>
                    <td>5PM - 8PM</td>
                    <td>3</td>
                    <td>Pending</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>


</div>
</body>
</html>